@import "tailwindcss";
@import "primereact/resources/themes/lara-light-purple/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.font-advent-pro {
  font-family: var(--font-advent-pro);
}
.font-indie-flower {
  font-family: var(--font-indie-flower);
}

.font-momo {
  font-family: var(--font-momo);
}

.font-edu {
  font-family: var(--font-edu-s-a-hand), cursive;

  /* Compress the vertical height of the text */
  display: inline-block; /* needed for transform */
  transform: scaleY(0.85); /* adjust 0.85 → more compressed, 1 → normal */
}

.background {
  background-image: url("/public/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.primary-bg {
  background-color: #8b5cf6;
  color: white;
}
